@charset "UTF-8";

/* 
Paleta de cores :
    - Verde: #49a09d
    - Lilás: #5f2c82
 */

 body {
    background-color: #5f2c82;
 }
 
 section {
   margin: auto;
   width: 80vw;
 }

 .form {
   background-color: white;
 }

 .input {
   background-color: #5f2c82;
   margin: 2px;
 }

 .icon {
   width: 50px;
 }